body {
    padding-top: 150px;
    padding-bottom: 200px;
}


h2 {
    
    color: navy;
    text-align: center;
    font-family: cursive;
}

table {
    text-align: center;
    background-image: url("https://img.freepik.com/free-vector/abstract-blue-watercolor-decorative-background-design_1055-13542.jpg?t=st=1655784289~exp=1655784889~hmac=b844226ad91962ab15837a8c3e177a3050dcdee57b2d2402e12c37c7d54a5703&w=740");
    background-size: cover;
    height: auto;
    width:600px;
}