 <header>
  <div id="container">
  <img class="logo" src="https://img.freepik.com/free-photo/close-up-increasing-stacked-coins-house-model-wooden-desk_23-2147863959.jpg?t=st=1655745321~exp=1655745921~hmac=5a620edfa75f5b5effb851e1e1a43694637a10005f3a00d9f996623fa34bb84b&w=900">
  <a routerLink="/" class="logo1">HOME LOANS</a>
</div>
</header> 
<br><br>

<nav class="navbar navbar-expand-sm navbar-dark nav1 ">
  <!-- Links -->
  
  <ul class="navbar-nav">

    <li class="nav-item" style="padding-left:5px; padding-right:5px;">
      <a routerLink="home" class="clickme info" routerLinkActive="active">Home</a>
    </li>

    <li class="nav-item" style="padding-right:5px;">
      <a routerLink="login" class="clickme info" routerLinkActive="active">Login</a>
    </li>


    <li class="nav-item" style="padding-right:5px;">
      <a routerLink="register" class="clickme info" routerLinkActive="active">Register</a>
    </li>

    <li class="nav-item" style="padding-right:5px;">
      <a routerLink="calculator" class="clickme info" routerLinkActive="active">Calculator</a>
    </li>

    <li class="nav-item" style="padding-right:5px;">
      <a routerLink="features" class="clickme info" routerLinkActive="active">Features</a>
    </li>

    <li class="nav-item" style="padding-right:5px;">
      <a routerLink="aboutus" class="clickme info" routerLinkActive="active">About Us</a>
    </li>


    <li class="nav-item" style="padding-right:5px;">
      <a routerLink="loan-tracker" class="clickme info" routerLinkActive="active">Loan Tracker</a>
    </li>

    <li class="nav-item" style="padding-right:5px;">
      <a routerLink="your-account" class="clickme info" routerLinkActive="active">Your Account</a>
    </li>

    <li class="nav-item" style="padding-right:5px;">
      <a routerLink="adminLogin" class="clickme info" routerLinkActive="active">Admin Login</a>
    </li>

    <li class="nav-item" style="padding-right:5px;">
      <a routerLink="user-logout" class="clickme info" routerLinkActive="active">User Login</a>
    </li>

  </ul>
</nav>


<div class="card">
 
  <div class="card-body">
    

<router-outlet></router-outlet>

  </div>
</div>

<br>



