<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<div class="total">
<p class="center c">  
  <img class="img1" src="https://qph.fs.quoracdn.net/main-qimg-db17c508993f2fc4b2537073a307c83d">
  <!-- <img src="https://t3.ftcdn.net/jpg/03/40/79/60/360_F_340796093_arRYqCCyRv95ISY6oNA4zNSTUWyg9CQa.jpg" alt=""> -->
  <br>
</p>

  <br>
  <div class="tot">
  <button class="btn btn-primary" style="font-weight: bold;" type="submit"><a href="register" class="clickme info" routerLinkActive="active"><font color="white"><span style="color: black;">Apply Now</span></font></a></button>
  </div>
  <br>
  <br>
  </div>
<!--
<div class="container">
  <h1>Before you Apply for a Home Loan</h1>
  <hr>
  <br>
  <img src="https://www.bankbazaar.com/images/india/infographic/home-loan-emi-calculator-march-2019.png">
  <a href="calculator" class="clickme info" routerLinkActive="active">Check Home Loan EMI Calculator</a>
<br>
<br>
  <img src="https://www.bankbazaar.com/images/india/infographic/home-loan-check-your-eligibility-march-2019.png">
  <a href="calculator" class="clickme info" routerLinkActive="active">Check Home Loan Eligibility Calculator</a>
<br>
<br>
  <img src="https://www.bankbazaar.com/images/india/infographic/home-loan-documents-required-march-2019.png">
  <a href="documents" class="clickme info" routerLinkActive="active">Check Documents Required for Home Loan</a>
<br>
<br>
<br>
<a class="text-danger" href="https://www.youtube.com/watch?v=Ul7nttFOfGM">Home Renovation Ideas</a>
</div>

<br>
<br>--> <br><br>
<footer class="f1">@CopyRight-2022 | Home Loans </footer>
